#content{
    max-width: 1600px;
    margin: 0 auto; 
}

.icon{
    width: 80px;
}
#background {
    height: 100px;
}
nav a {
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
    nav a:hover {
        color: #d9c2a3;
    }
    .home-title {
        color: rgb(0, 0, 0);
        text-align: center;
    }
    h4 {
        color: black;
    }
#hero-msg h1, #hero-msg h4{
    text-align:center;
    color: black;
}
.button-box{
    text-align:center;
}
main section{
    text-align:center;
}
body {
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color:burlywood;
}
header {
    background-color: burlywood; 
}
nav a:hover {
    background-color: gray; 
}
.book:hover, .join:hover {
    background-color: burlywood; 
}
#background {
    background-color: burlywood; 
}
.msg {
    background-color: orange; 
    height: 240px;
}
footer {
    position: relative;
    top: 150px;
    background-color: orange; 
    height: 240px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: #d9c2a3;
}
footer p{
    position: relative;
    left: 50px;
    top: 50px;
}
#logo1 {
    width: 50px;
    height: 50px;
}
#hero-img{
    width: 900px;
    height: 500px;
    position: relative;
    left: 285px;
}
.book {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 100px;
    position: relative;
    left: 650px;
    bottom: 180px;

}
.join {
    position: relative;
    right: 0px;
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
}
.mountains{
    position:relative;
    left: 475px;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}
            
              